*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.txt
R:\road to google\RemoteFileExplorer\FileExplorer\app\google-services_leaked.json
R:\road to google\RemoteFileExplorer\FileExplorer\app\google-services.json
